* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-yellow: #fed700;
  --color-white: #fff;
  --color-error: red;
}
